.audio_new_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.resources_section {
  display: flex;
  flex-direction: column;
}

.resources_row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
  max-width: calc(100vw - 16px - 260px - 4px - 48px);
  height: 300px;
  overflow-x: auto;
  padding-top: 1rem;
  padding-left: 1.2rem;
  margin-left: -1.2rem;
}

.actions {
  margin-left: auto;
  margin-bottom: 24px;
  display: flex;
  gap: 12px;
  padding-right: 25px;
}

.import_section {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding-right: 25px;
}

.record_section {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding-right: 25px;
}

.record_section_audio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tts_section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 25px;
}

.tts_section_content {
  display: flex;
  gap: 24px;
}

.tts_section_content > div {
  width: 385px;
}

.tts_section_content form {
  flex: 1 1 100%;
}

.tts_section_content_voices {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tts_section_content_voices_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
