.row {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;

  justify-content: center;
  margin-top: 24px;
}

.template_sequence_card {
  display: flex;
  flex-direction: column;
  gap: 18px;

  align-items: center;
  justify-content: center;
  min-height: 200px;
  min-width: fit-content;
  padding: 24px;
  cursor: pointer;
}

.template_sequence_card_selected {
  outline: 2px solid #000;
}

.buttons {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
