.page_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 24px;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.filter_green {
  width: 40px;
  height: 40px;
  background-color: #58c49b;
  border-radius: 100%;
}

.filter_red {
  width: 40px;
  height: 40px;
  background-color: #fd6773;
  border-radius: 100%;
}

.filter_active {
  outline: 2px solid #000;
}

.resources_section {
  display: flex;
  flex-direction: column;
}

.resources_row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
  max-width: calc(100vw - 16px - 260px - 4px - 48px);
  height: 300px;
  overflow-x: auto;
  padding-top: 1rem;
  padding-left: 1.2rem;
  margin-left: -1.2rem;
}

.resource_item {
  position: relative;
}

.filter_card {
  position: absolute;
  bottom: -10px;
  left: -10px;
}
