.recorder_container {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  z-index: 9998;
}

.recorder_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  z-index: 9998;
}

.close {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 9999;
}
