@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*
  1rem -> 10px. By default this value is defined by each browser, and usually it is 16px
  font-size: 10px; -> This is not correct to do, because there are users that might have to increase the default value from 16px to something bigger,
                      and this way we are not allowing them, we are having a static value of 10px
  Instead:
  10px / 16px = 0.625 = 62.5% 
  */

  /* In the media queries, if we use propertys with rem, we then have only to change html font-size, instead of all the properties */

  /* Only works if there is nothing positioned absolutely in the body */
  overflow-x: hidden;
  overflow-y: auto;
  /*scroll-behavior: smooth;*/ /*Works only on chrome and firefox */
}

body {
  line-height: 1;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #343a40;
  background-color: #eef9f5;

  min-height: 100vh;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 5px #58c49b50;
}

a {
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;

  background-color: #00000095;
  z-index: 9997;
}
