@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*
  1rem -> 10px. By default this value is defined by each browser, and usually it is 16px
  font-size: 10px; -> This is not correct to do, because there are users that might have to increase the default value from 16px to something bigger,
                      and this way we are not allowing them, we are having a static value of 10px
  Instead:
  10px / 16px = 0.625 = 62.5% 
  */

  /* In the media queries, if we use propertys with rem, we then have only to change html font-size, instead of all the properties */

  /* Only works if there is nothing positioned absolutely in the body */
  overflow-x: hidden;
  overflow-y: auto;
  /*scroll-behavior: smooth;*/ /*Works only on chrome and firefox */
}

body {
  line-height: 1;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #343a40;
  background-color: #eef9f5;

  min-height: 100vh;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 5px #58c49b20;
}

a {
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;

  background-color: #00000095;
  z-index: 9997;
}

/* Layout */
.container {
  max-width: 1920px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 260px 4px 1fr;
  grid-template-rows: 50px 4px 1fr;
  gap: 24px;
  padding: 1rem 1rem 0 1rem;
}

.logo {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.sidebar > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.sidebar > ul > li {
  list-style: none;
}

.sidebar > ul > li > .link {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  padding: 10px 24px;
  background-color: #58c49b30;
  border: 1.5px solid #58c49b;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.4) 0 8px 24px;

  color: #343a40;
}

.sidebar > ul > li > .link-active {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  padding: 10px 24px;
  background-color: #fff;
  border: 1.5px solid #58c49b;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.4) 0 8px 24px;

  color: #58c49b;
}

.navbar {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
}

.separator-column {
  grid-row: 1 / -1;
  grid-column: 2 / 3;

  width: 100%;
  /* min-height: 95vh; */
  /* margin: 2.5vh 0; */
  border-radius: 15px;
  background-color: #58c49b;
}

.separator-row {
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  height: 100%;
  /* width: 98vw; */
  /* margin: 0 auto; */
  border-radius: 15px;
  background-color: #58c49b;
}

.main {
  min-height: calc(100vh - 120px);
}
